.navbar {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem; /* Adjusted padding to reduce space */
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/* Ensure the text color remains black on hover */
.navbar-item a:hover {
  color: black;
}